@import "../../bower_components/bootstrap/less/bootstrap.less";

body {
  background-color:@body-bg;
  padding-top:@navbar-height + 30;
}

div.container {

  > div {

    .make-row();

    > div {

      .make-sm-column(12);

    }

  }

  #form {

    .make-row();

    margin-bottom:2em;

  }

  .filter-tools {

    margin-bottom:1em;

    .make-row();

      > div {

        margin-top:1em;

        @media (min-width: @screen-sm-min) {
          margin-top:0;
        }

        &:first-child {
          margin-top:0;
        }

        .make-xs-column(12);
        .make-sm-column(4);

        .input-group-addon {
        text-align:left;
        }

      }

  }

  .resultTable {

    .cols {

      .make-row();

      > div:first-child {

        .make-xs-column(12);
        .make-sm-column(4);

        font-weight:bold;

      }

      > div:nth-child(2) {

        .make-xs-column(6);
        .make-sm-column(4);
        text-align:left;
        font-size:120%;

      }

      > div:nth-child(3) {

        .make-xs-column(6);
        .make-sm-column(4);
        text-align:left;

        @media (min-width: @screen-sm-min) {

          text-align:center;
        }

      }

      > div:nth-child(4) {

        display: none;

        .make-xs-column(12);
        .make-sm-column(3);
        text-align:left;

        @media (min-width: @screen-sm-min) {
          text-align:center;
        }

      }

    }

    > div:first-child {

      display: none;


      font-weight:bold;
      font-size:120%;

      @media (min-width: @screen-sm-min) {

        display:block;

      }

    }

    > div:not(:first-child) {

      &:nth-child(odd) {
        background-color:#f2f2f2;
      }

      margin-bottom:1em;
      padding:0.8em 0;

      button {
        .center-block();
      }

    }

  }

}

div.summaryTable {

  position: fixed;
  top: 60px;
  right: 0px;
  background: white;
  box-sizing: border-box;
  border: 1px solid black;
  z-index: 5;

}

.showSummaryTable {

  position: absolute;
  right: 0px;
  top: 0px;

}
