<div ng-controller="ItemListCtrl">
  <!--- alert -->
  <div class="alert alert-danger alert-dismissable emptyTip" style="top:100px; position:relative;" ng-show="empty">
     <button type="button" class="close" data-dismiss="alert"
        aria-hidden="true">
        &times;
     </button>
     Error: No items found! Try a new keyword!
  </div>
  <!-- alert -->

  <div id="form">
    <form role="form" ng-submit="addItem()">
      <div class="col-md-12">
        <div class="error alert-danger"></div>
        <div class="input-group input-group-lg">
          <input type="search" class="form-control" placeholder="Search" ng-model="inputModel">
          <span class="input-group-btn">
            <button class="btn btn-primary search" type="button">Start Saving!</button>
          </span>
        </div>
      </div>
    </form>
  </div> <!-- /#form -->

  <div class="filter-tools">
    <div>
      <h4>Group Results By</h4>
      <form name="groupByForm">
        <div>
          <div class="input-group">
            <span class="input-group-addon">
              <input type="radio" ng-model="grouping" value="store">
            </span>
            <span class="input-group-addon form-control">Store</span>
          </div>
        </div>
        <div>
          <div class="input-group">
            <span class="input-group-addon">
              <input type="radio" ng-model="grouping" value="upc">
            </span>
            <span class="input-group-addon form-control">UPC</span>
          </div>
        </div>
        <div>
          <div class="input-group">
            <span class="input-group-addon">
              <input type="radio" ng-model="grouping" value="NULL">
            </span>
            <span class="input-group-addon form-control">Do not group</span>
          </div>
        </div>
      </form>
    </div>
    <div>
      <h4>Order Results By</h4>
      <form name="orderByForm">
        <div>
          <div class="input-group">
            <span class="input-group-addon">
              <input type="radio" ng-model="ordering" ng-value="price">
            </span>
            <span class="input-group-addon form-control">Price</span>
          </div>
        </div>
        <div>
          <div class="input-group">
            <span class="input-group-addon">
              <input type="radio" ng-model="ordering" ng-value="name">
            </span>
            <span class="input-group-addon form-control">Product Name</span>
          </div>
        </div>
        <div>
          <div class="input-group">
            <span class="input-group-addon">
              <input type="radio" ng-model="ordering" ng-value="store">
            </span>
            <span class="input-group-addon form-control">Store</span>
          </div>
        </div>
      </form>
    </div>
    <div>
      <h4>Filter Results</h4>
      <form>
        <input type="text" class="form-control" placeholder="Search for" ng-model="search">
      </form>
    </div>
  </div>

  <div class="resultTable" ng-show="items">
    <div class="cols">
      <div>Item</div>
      <div>Price</div>
      <div>Store</div>
    </div>
    <div ng-repeat="(key, value) in items | groupBy: grouping | filterGroups: search | arrayify | orderBy:arrayifyKey">
        <div ng-repeat="item in value | orderBy: ordering">
          <div><button class="btn btn-success cartBtn" ng-click="getItemId(item.name, item.price, item.store)">Add To Shortlist</button></div>
          <a ng-href="{{ item.productUrl }}" target="_blank" class="cols">
            <div>{{item.name}}</div>
            <div>{{item.price | currency:"$"}}</div>
            <div>{{item.store}}</div>
          </a>
        </div>
      </div>
  </div><!-- /.resultTable -->

  <!---Summary Table-->
    <div class="summaryTable" ng-show="cart">
      <button class="showSummaryTable" ng-click="showTable = !showTable">{{showTable ? 'Hide':'Show'}} Shortlist</button>
      <div ng-if="showTable" class="table table-hover cartTable">
        <p>Shortlist</p>
        <div>
          <div>
            <div>Item</div>
            <div>Price</div>
            <div>Store</div>
          </div>
        </div>
        <div>
          <div ng-repeat="item in cart">
            <div>{{item.name | limitTo: 50}}...</a></div>
            <div>{{item.price | currency:"$"}}</div>
            <div>{{item.store}}</div>
            <div><button class="btn btn-danger" id="remove" ng-click="clearItem($index)" ng-show="cart">Remove</button></div>
          </div>
          <div>Total: {{ total | currency:"$"}}</div>
        </div>
      </div>
    </div>
  <!---Summary Table-->
  </br></br></br></br>

    <!---Summary Table-->
    <div class="">
      <table class="table table-hover compare" ng-show="compare.length">
        <thead>
          <tr>
            <th>Item</th>
            <th>Price</th>
            <th>Store</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in compare">
            <td>{{item.name | limitTo: 50}}...</a></td>
            <td>{{item.price | currency:"$"}}</td>
            <td>{{item.store}}</td>
          </tr>
          <td><button class="btn btn-danger" id="remove" ng-click="clear()" ng-show="compare">Clear</button></td>
          <td id="savings">Savings: {{ diff | currency:"$" }}</td>
        </tbody>
      </table>
    </div>
  <!---Summary Table-->
</div>
